/* 全体の背景画像を追加 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./IMG_0639.jpg'); /* 背景画像のパス */
    background-size: cover; /* 背景画像を全体にフィットさせる */
    background-position: center; /* 画像を中央に配置する */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
}

/* 黒のオーバーレイセクション */
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    padding: 50px;
    text-align: center;
}

h1, h2 {
    margin: 0; /* 必要に応じて、上下の余白を調整 */
    color: white; /* テキストの色を白に */
}

.app-list {
    display: flex;
    flex-direction: row; /* 各 app-item を横並びに配置 */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* 必要に応じて複数行に折り返す */
    margin-top: 30px;
}

.app-item {
    display: flex;
    flex-direction: column; /* 画像、テキスト、ボタンを縦に並べる */
    align-items: center;
    margin: 20px; /* 各アイテム間に余白を追加 */
    background-color: rgba(0, 0, 0, 0.7); /* 黒の半透明背景 */
    padding: 20px;
    border-radius: 10px;
    color: white; /* テキストの色を白に */
}

.app-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px; /* ボタンとの間に余白を追加 */
}

.app-item span {
    font-size: 24px;
    margin-bottom: 10px; /* ボタンとの間に余白を追加 */
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-placeholder {
    height: 40px; /* ボタンと同じ高さに設定 */
    visibility: hidden; /* 見えない状態にする */
}

.btn:hover {
    background-color: #0056b3;
}

/* モーダルのスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 70%;
    overflow-y: auto;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
